---
layout: layouts/base.njk
bodyClass: body-blog
title: Recent Posts
---

<div class="posts-grid">
  {% for post in collections.post | reverse %}
  <article class="post-card">
    <a href="{{ site.baseUrl }}{{ post.url | removeLeadingSlash }}">
      <div class="post-image">
        <img src="{{ post.data.featuredImage }}" alt="{{ post.data.title }}">
      </div>
      <h2 class="post-title">{{ post.data.title }}</h2>
    </a>
  </article>
  {% endfor %}
</div>
