---
layout: layouts/base.njk
bodyClass: body-home
---

<div class="scrolling-banner">
    <div class="scrolling-track" id="scrollTrack">
        <div class="scrolling-item">｡･:*:･ﾟ★,｡･:*:･ﾟ☆.⋆｡⋆☂˚｡⋆｡˚☽˚｡⋆.+*:ꔫ:*﹤｡･:*:･ﾟ★,｡･:*:･ﾟ☆✧༺♥༻∞｡･:*:･ﾟ★,｡･:*:･ﾟ☆.⋆｡⋆☂˚｡⋆｡˚☽˚｡⋆.+*:ꔫ:*﹤｡･:*:･ﾟ★,｡･:*:･ﾟ☆✧༺♥༻∞｡･:*:･ﾟ★,｡･:*:･ﾟ☆.⋆｡⋆☂˚｡⋆｡˚☽˚｡⋆.+*:ꔫ:*﹤｡･:*:･ﾟ★,｡･:*:･ﾟ☆✧༺♥༻∞｡･:*:･ﾟ★,｡･:*:･ﾟ☆.⋆｡⋆☂˚｡⋆｡˚☽˚｡⋆.+*:ꔫ:*﹤｡･:*:･ﾟ★,｡･:*:･ﾟ☆✧༺♥༻∞｡･:*:･ﾟ★,｡･:*:･ﾟ☆</div>
    </div>
</div>

<div class="playground">
    <img src="{{ site.baseUrl }}static/images/floaters/amelie apple.png" class="draggable" alt="img1" loading="lazy">
    <img src="{{ site.baseUrl }}static/images/floaters/raine apple.png" class="draggable" alt="img2" loading="lazy">
    <img src="{{ site.baseUrl }}static/images/floaters/girl charm.png" class="draggable" alt="img3" loading="lazy">
    <img src="{{ site.baseUrl }}static/images/floaters/kuromi.png" class="draggable" alt="img4" loading="lazy">
    <img src="{{ site.baseUrl }}static/images/floaters/melody.png" class="draggable" alt="img5" loading="lazy">
    <img src="{{ site.baseUrl }}static/images/floaters/photostrip 1.png" class="draggable" alt="img6" loading="lazy">
    <img src="{{ site.baseUrl }}static/images/floaters/photostrip 2.png" class="draggable" alt="img7" loading="lazy">
</div>

<div class='main-text'>
    Angel Outsider
</div>
