<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseUrl }}static/css/style.css">
</head>

<body class='landing'>
</body>

<script>
// script.js
document.addEventListener('DOMContentLoaded', function() {
    // 1. Define an array of image URLs
    const images = [
        "{{ site.baseUrl }}static/images/2.png",
        "{{ site.baseUrl }}static/images/3.png",
        "{{ site.baseUrl }}static/images/4.png",
        "{{ site.baseUrl }}static/images/5.png",
        "{{ site.baseUrl }}static/images/Artboard 1@4x.png",
        "{{ site.baseUrl }}static/images/Untitled-1.png",
    ];

    const randomIndex = Math.floor(Math.random() * images.length);
    const selectedImage = images[randomIndex];

    document.body.style.backgroundImage = `url('${selectedImage}')`;

});

document.addEventListener('click', function(event) {
    window.location.href = "{{ site.baseUrl }}home";
});

</script>