---
layout: layouts/base.njk
bodyClass: body-home
---

<div class="scrolling-banner">
    <div class="scrolling-track" id="scrollTrack">
        <div class="scrolling-item">｡･:*:･ﾟ★,｡･:*:･ﾟ☆.⋆｡⋆☂˚｡⋆｡˚☽˚｡⋆.+*:ꔫ:*﹤｡･:*:･ﾟ★,｡･:*:･ﾟ☆✧༺♥༻∞｡･:*:･ﾟ★,｡･:*:･ﾟ☆.⋆｡⋆☂˚｡⋆｡˚☽˚｡⋆.+*:ꔫ:*﹤｡･:*:･ﾟ★,｡･:*:･ﾟ☆✧༺♥༻∞｡･:*:･ﾟ★,｡･:*:･ﾟ☆.⋆｡⋆☂˚｡⋆｡˚☽˚｡⋆.+*:ꔫ:*﹤｡･:*:･ﾟ★,｡･:*:･ﾟ☆✧༺♥༻∞｡･:*:･ﾟ★,｡･:*:･ﾟ☆.⋆｡⋆☂˚｡⋆｡˚☽˚｡⋆.+*:ꔫ:*﹤｡･:*:･ﾟ★,｡･:*:･ﾟ☆✧༺♥༻∞｡･:*:･ﾟ★,｡･:*:･ﾟ☆</div>
    </div>
</div>

<div class='main-text'>
    GIRL ON DISPLAY
</div>